{% extends 'index.html' %}

{% load static %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block body %}
    <div class="container-cart">
        <h2>Your Shopping Cart {{ user.username }}</h2>
    </div>

    <div class="container-added-products">
        <span class="no-products" id="no-products">There are no products in the cart</span>
        <div class="scroll-container">
            {% for item in cart %}
                <div class="cart-item" id="cart-item-{{ item.id }}">
                    <div class="quit-element" onclick="removeFromCart({{ item.id }})">X</div>
                    <div class="mini-img">
                        <img src="{{ item.product.primary_img.url }}" alt="{{ item.product.name }}">
                    </div>
                    <h2>{{ item.product.name }}</h2>
                    <select class="quantity-sec" name="quantity" id="quantity-{{ item.id }}" onchange="updateQuantity({{ item.id }}, this.value, {{ item.product.price }})">
                        {% for i in quantity_range %}
                            <option value="{{ i }}" {% if i == item.quantity %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <p class="total-p" id="total-price-{{ item.id }}">{{ item.get_total_price|floatformat:0|add:" $" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    

    <div class="summary-shop">
        <h3 class="h3-total">Summary</h3>
        <div class="total-line"></div>
        <p class="grand-total" id="grand-total"></p>
        <p class="total-items" id="total-items"></p>
        <button class="btn-pay">Pay</button>
    </div>



{% endblock %}

{% block script %}
<script>
    const cartUrl = "{% url 'cart' %}";
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'scripts/cart.js' %}"></script>
<script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}

