{% extends 'index.html' %}

{% load static %}

{% load socialaccount %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <div class="container-form-login">

        <div class="container-title">
            <p class="title">Welcome Back</p>
        </div>
        
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% if error %}
            <div class="error-login">
                {{ error }}
            </div>
            {% endif %}
            <div class="form-username_login">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-password">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <button class="button-login">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text"> Log in
                </span>
              </button>
              
            <div class="to-sign">
                <span>Don´t have an account? </span>
                <a href="{% url 'sign_up' %}">Sign Up</a>
            </div>

            <div class="button-google">
                <a href="{% provider_login_url 'google' %}">
                    <img src="{% static 'media/svg/google.svg' %}">
                    <span>Log in with Google</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}

